# Node
**/node_modules/
**/dist/
**/.turbo/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Env
**/.env
.env
# Never pull/push these certs

certbot/conf/
certbot/www/

# Build output
**/build/
**/.next/
**/.output/

# System files
.DS_Store
Thumbs.db